@font-face {
    font-family: "Morlok";
    src: url("../font/MorlokSchulbuch.otf");
}

@font-face {
    font-family: "selfModern";
    src: url("../font/bretagne_self-modern_regular.otf")
}

:root {
  --main-color: black;
}

body{
  cursor: none;
}

.arrow-link{
  cursor: url("arrow4.svg"), auto;
  text-decoration: none;
}

a{
  color: white;
  text-decoration: none;
}

#title:hover{
  color: red;
}

.questions a{
  color: var(--main-color);
}

.questions a:visited{
  color: var(--main-color);
}

body{
  color: white;
  font-family: selfModern;
}

.bg{
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0px;
  top: 0px;
  margin: 0;
  overflow-y: scroll;

  /* background-color: #EDEDED; */
  /* box-shadow: inset 0px 0px 10px var(--main-color); */
  z-index: -1000;
  background-color: black;
}

.heading{
  position: fixed;
  display: flex;
  flex-direction: row;
  margin: 1.5em 2em 1em 2em;
  left: 0;

  font-family: "Morlok";
  font-size: 1.3em;
}


.menu{
  position: fixed;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  right: 2em;
  bottom: 2em;
}

.menu-item{
  margin-left: 1em;
}

#title{
  transform: rotate(90deg);
  transform-origin: bottom left;
  font-size: 1.5em;
}

.info{
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 2em;
  left: 8em;
  margin: 1.5em 3em 1em 1em;

}

.info-german, .info-english{
  /* width: 40vw; */
}

.questions{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  left: 10vw;
  top: 30vh;

  font-family: "selfModern";
}

.question{
  background: #FFFFFF;
  border: 1px solid var(--main-color);
  box-sizing: border-box;
  height: 20em;
  width: 15em;
  margin-right: 0em;
  padding: 1em;
  color: black;
}

.question:hover{
  box-shadow: 0 0 10px var(--main-color)55;
  z-index: 100;
}

a:hover{
  z-index: 100;
}

#question1{
  transform: rotate(-22.36deg);
  transition-duration: 0.8s;
}

#question1:hover{
  transform: rotate(0deg);
  transition-duration: 0.8s;
}

#question2{
  transform: rotate(26.36deg) translateY(3em);
  transition-duration: 0.8s;
}

#question2:hover{
  transform: rotate(0deg) translateY(3em);
  transition-duration: 0.8s;
}

#question3{
  transform: rotate(-2.01deg) translate(2em, -2em);
  transition-duration: 0.8s;
}

#question3:hover{
  transform: rotate(0deg) translate(2em, -2em);
  transition-duration: 0.8s;
}

#question4{
  transform: rotate(-22.36deg) translate(2em, 0em);
  transition-duration: 0.8s;
}

#question4:hover{
  transform: rotate(0deg) translate(2em, 0em);
  transition-duration: 0.8s;
}

#question5{
  transform: rotate(21.43deg) translate(2em, 5em);
  transition-duration: 0.8s;
}

#question5:hover{
  transform: rotate(0deg) translate(2em, 5em);
  transition-duration: 0.8s;
}

/* comment styles */
.comments{
  width: 60vw;
  height: 80vw;
  position: absolute;
  right: 0;
  top: 6em;
}

h5{
  display: none;
}

ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.single-komment{
  border: 1px solid white;
  border-radius: 2em;
  padding: 2em;
  transition-duration: 1s;
}

li{
  list-style: none;
  max-width: 20em;
}

.single-komment:hover{
  border: 1px solid white;
  border-radius: 0em;
  background-color: white;
  transition-duration: 1s;
  color: black;
}

.single-komment p{
  cursor: auto;
}

#url{display: none;}

.question_page{
  position: fixed;
  top: 7em;
}

#commentform{
  display: none;
  position: fixed;
  z-index: 100;
}

#kommentform{
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 200;
}

#commentform_bg{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  top: 0px;
  left: 0px;
}

#answer{
  position: fixed;
  border-radius: 20em;
  /* border: 1px solid var(--main-color); */
  position: fixed;
  bottom: 6em;
  left: 10em;
  height: 5em;
  width: 5em;
  /* line-height: 5em; */
  text-align: center;
  /* background-color: #EDEDEDaa; */
  font-family: "Morlok";
  font-size: 1.5em;
  transition-duration: 0.5s;
}

#answer svg{
  transform: translate(-30%, -50%);
  z-index: -5;
}

#answer svg path {
  transition:.5s all ease-in-out;
}

#answer svg:hover path{
  d: path("M148 24.4999C119.932 24.4999 146.478 -7.5 77 2.49989C48.9315 9.15369 33.9999 56.0854 33.9999 82.0001C33.9999 107.915 4.45586 87.883 1.99987 118C-0.456124 148.117 56.2458 132.18 56.2458 140.935C56.2458 149.69 -5.36806 170.001 1.9999 192.764C9.36787 215.527 67.8458 166.208 91.6822 192.764C114 217.628 66.7715 255 91.6822 255C116.593 255 140.451 227.434 163.257 217.628C186.062 207.823 204.65 248.154 225 241.5C245.35 234.846 239.042 236.889 234.831 207.823C230.621 178.756 266.263 200.016 261 172C255.737 143.984 221.73 143.463 217 112.5C211.5 76.5001 242.69 31.3849 211.5 14.0001C181 -3.00011 176.068 24.4999 148 24.4999Z");
  fill: black;
  stroke: white;
  transform: translate(2em, 2em);
}

/* #answer:hover{
  cursor: none;
  background-color: var(--main-color);
  color: white;
  transition-duration: 0.5s;
} */

#answer_text{
  position: absolute;
  top: -2em;
}

textarea, input{
  width: 60vw;
  border: 1px solid var(--main-color);
  border-radius: 2em;
  padding: 2em;
  font-family: 'selfModern';
}

input:focus, textarea:focus{
  outline: none;
}

#kommentform button:hover {
  background-color: var(--main-color);
}

.circle{
  position: fixed;
  width: 30vw;
  height: 30vw;
  left: 50vw;
  top: 50vh;
  border-radius: 1000px;
  transform: translate(-50%, -50%);

  background: white;
  mix-blend-mode: difference;
  filter: blur(20px);

  z-index: 1000;
  pointer-events: none;
}

/* #circle{
  transform: translate(-50%, 0%);
}

#circle2{
    transform: translate(-50%, -100%);
} */
