@font-face {
    font-family: "Morlok";
    src: url("../font/MorlokSchulbuch.otf");
}

@font-face {
    font-family: "selfModern";
    src: url("../font/bretagne_self-modern_regular.otf")
}

:root {
  --main-color: black;
}


.arrow-link{
  cursor: url("arrow4.svg"), auto;
  text-decoration: none;
}

a{
  color: var(--main-color);
}

a:visited{
  color: var(--main-color);
}

body{
  color: var(--main-color);
  font-family: selfModern;
}

.bg{
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0px;
  top: 0px;
  margin: 0;
  overflow-y: scroll;

  background-color: #EDEDED;
  box-shadow: inset 0px 0px 10px var(--main-color);
  z-index: -1000;
}

.heading{
  position: fixed;
  display: flex;
  flex-direction: row;
  margin: 1.5em 2em 1em 2em;
  left: 0;

  font-family: "Morlok";
  font-size: 1.3em;
}


.menu{
  position: fixed;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  right: 2em;
}

.menu-item{
  margin-left: 1em;
}

.info{
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 5em;
  margin: 1.5em 3em 1em 1em;

}

.info-german, .info-english{
  /* width: 40vw; */
}

.questions{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  left: 10vw;
  top: 40vh;

  font-family: "selfModern";
}

.question{
  background: #FFFFFF;
  border: 1px solid var(--main-color);
  box-sizing: border-box;
  height: 20em;
  width: 15em;
  margin-right: 0em;
  padding: 1em;
}

.question:hover{
  box-shadow: 0 0 10px var(--main-color)55;
  z-index: 100;
}

a:hover{
  z-index: 100;
}

#question1{
  transform: rotate(-22.36deg);
  transition-duration: 0.8s;
}

#question1:hover{
  transform: rotate(0deg);
  transition-duration: 0.8s;
}

#question2{
  transform: rotate(26.36deg) translateY(3em);
  transition-duration: 0.8s;
}

#question2:hover{
  transform: rotate(0deg) translateY(3em);
  transition-duration: 0.8s;
}

#question3{
  transform: rotate(-2.01deg) translate(2em, -2em);
  transition-duration: 0.8s;
}

#question3:hover{
  transform: rotate(0deg) translate(2em, -2em);
  transition-duration: 0.8s;
}

#question4{
  transform: rotate(-22.36deg) translate(2em, 0em);
  transition-duration: 0.8s;
}

#question4:hover{
  transform: rotate(0deg) translate(2em, 0em);
  transition-duration: 0.8s;
}

#question5{
  transform: rotate(21.43deg) translate(2em, 5em);
  transition-duration: 0.8s;
}

#question5:hover{
  transform: rotate(0deg) translate(2em, 5em);
  transition-duration: 0.8s;
}

/* comment styles */
.comments{
  width: 60vw;
  height: 80vw;
  position: absolute;
  right: 0;
  top: 6em;
}

h5{
  display: none;
}

ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.single-komment{
  border: 1px solid var(--main-color);
  border-radius: 2em;
  padding: 2em;
  transition-duration: 1s;
}

li{
  list-style: none;
  max-width: 20em;
}

.single-komment:hover{
  border: 1px solid var(--main-color);
  border-radius: 0em;
  background-color: white;
  transition-duration: 1s;
}

#url{display: none;}

.question_page{
  position: fixed;
  top: 10em;
}

#commentform{
  display: none;
  position: fixed;
  z-index: 100;
}

#kommentform{
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 200;
}

#commentform_bg{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  top: 0px;
  left: 0px;
}

#answer{
  position: fixed;
  border-radius: 20em;
  border: 1px solid var(--main-color);
  position: fixed;
  bottom: 6em;
  left: 10em;
  height: 5em;
  width: 5em;
  /* line-height: 5em; */
  text-align: center;
  background-color: #EDEDEDaa;
  font-family: "Morlok";
  font-size: 1.5em;
  transition-duration: 0.5s;
}

#answer:hover{
  cursor: none;
  background-color: var(--main-color);
  color: white;
  transition-duration: 0.5s;
}

textarea, input{
  width: 60vw;
  border: 1px solid var(--main-color);
  border-radius: 2em;
  padding: 2em;
  font-family: 'selfModern';
}

input:focus, textarea:focus{
  outline: none;
}

#kommentform button:hover {
  background-color: var(--main-color);
}
